body{
  background: rgb(88,88,252);
}

.App {
  background: #fff;
  width: 500px;
  margin:  120px auto;
  border-radius: 15px;
}

.content{
  padding: 15px 10px;
}
.todo-wrapper{
  margin-top: 25px;
  border: 1px solid rgb(79, 67, 95);

}
.todo-wrapper > div:nth-child(even){
  background: rgb(93, 112, 148);
}